.canvas {
    background-color: black;
    height: 100%;
}

p.meta {
    color: white;
    background-color: none;
    position: absolute;
    padding: 1rem;
}
p.fps {
    bottom: 0px;
}
p.filter {
    bottom: 2rem;
}
p.focus {
    bottom: 4rem;
}